---
import Discord from "../icons/Discord.astro";
import Stripe from "../icons/Stripe.astro";
import Text from "../fundations/elements/Text.astro";
import StarBottomLeft from "../assets/StarBottomLeft.astro";
import StarBottomRight from "../assets/StarBottomRight.astro";
import StarTopLeft from "../assets/StarTopLeft.astro";
import StarTopRight from "../assets/StarTopRight.astro";
const target = [
  {
    item: "...lacks hierarchy",
  },
  {
    item: "...has an outdated design",
  },
  {
    item: "...has poor conversion rates",
  },
  {
    item: "...has a high bounce rate",
  },
  {
    item: "...needs a better structure",
  },
  {
    item: "...has poor  engagement",
  },
  {
    item: "...needs to A/B test",
  },
  {
    item: "...lacks accessibility ",
  },
  {
    item: "...has poor leads",
  },
  {
    item: "...lacks testimonials",
  },
];
const listItems = [
  "Custom design for up to 5 divs",
  "5-day turnaround",
  "Real-time communication via Discord",
  "2 rounds of revisions",
  "Responsive design (desktop & mobile)",
  "Source files in Figma format",
];
---

<div
  class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 relative border border-dashed border-zinc-300 dark:border-zinc-700"
>
  <StarTopLeft />
  <StarTopRight />
  <StarBottomLeft />
  <StarBottomRight />
  <div
    class="gap-8 p-8 flex flex-col justify-between h-full text-black dark:text-white relative lg:border-r border-zinc-300 dark:border-zinc-700 lg:col-span-2"
  >
    <div>
      <Text
        tag="h3"
        variant="displaySM"
        class="font-serif italic text-black dark:text-white"
      >
        One fixed price
      </Text>
      <Text tag="p" variant="textBase" class="text-zinc-500 dark:text-zinc-400">
        Professional landing page redesign without the guesswork.
      </Text>
    </div>
    <div class="flex flex-col justify-between relative">
      <Text
        tag="p"
        variant="textBase"
        class="tracking-tight text-black dark:text-white relative"
      >
        Is your landing page suffering from:
      </Text>
      <ul
        class="grid grid-cols-1 2xl:text-base mt-4 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 gap-2 md:col-span-2 relative"
      >
        {
          target.map(({ item }) => (
            <li>
              <div class="flex gap-2 items-center text-zinc-500 dark:text-zinc-400">
                <div class=" ring-1 ring-zinc-200 dark:ring-zinc-700 p-[0.110rem] bg-white/5 shadow  rounded-sm ">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-check size-2.5"
                  >
                    <>
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M5 12l5 5l10 -10" />
                    </>
                  </svg>
                </div>
                {item}
              </div>
            </li>
          ))
        }
      </ul>
      <Text
        tag="p"
        variant="textBase"
        class="tracking-tighter text-black dark:text-white mt-8 relative"
      >
        If so, it's time for a major upgrade.
      </Text>
    </div>
    <div
      class="border-t flex flex-col pt-4 mt-4 text-zinc-500 dark:text-zinc-400 border-zinc-300 dark:border-zinc-700"
    >
      <Text tag="p" variant="textXS" class="2xl:text-base">
        Streamer specializes in simple and clean design, design system, 3D,
        prototypes, mobile apps, illustrations, marketing, copywriting & complex
        creations from Glow up — After purchase, you get an invite to Streamer's
        discord channel, where you can chat up with Streamer in real-time.
      </Text>
      <Text
        tag="span"
        variant="textXS"
        class="mt-2 pt-2 border-t font-normal border-zinc-300 dark:border-zinc-700"
      >
        Project management with <span
          class="italic text-black dark:text-white font-medium">Discord</span
        >, secure payments with <span
          class="italic text-black dark:text-white font-medium">Stripe</span
        >
      </Text>
      <div
        class="inline-flex items-center gap-2 mt-1 text-black dark:text-white"
      >
        <Discord />
        <span class="text-oxido text-2xl">—</span>
        <Stripe />
      </div>
    </div>
  </div>
  <div
    class="flex flex-col h-full justify-between p-8 overflow-hidden relative bg-white/30 dark:bg-white/5"
  >
    <div class="relative">
      <div class="flex flex-col">
        <Text
          tag="h3"
          variant="displaySM"
          class="font-serif italic tracking-wide text-black dark:text-white"
        >
          The glow package
        </Text>
      </div>
      <Text tag="p" variant="textBase" class="text-black dark:text-white">
        $6999
        <Text
          tag="span"
          variant="textXS"
          class="text-zinc-700 dark:text-zinc-400">USD + Local tax</Text
        >
      </Text>
      <div class="mt-8">
        <Text
          tag="p"
          variant="textSM"
          class="text-black dark:text-white font-medium uppercase"
        >
          Includes
        </Text>
        <ul
          class="flex flex-col mt-2 list-none list-inside text-zinc-700 dark:text-zinc-400 gap-y-2"
          role="list"
        >
          {
            listItems.map((item) => (
              <li class="flex gap-2 items-center 2xl:items-start">
                <Text tag="p" variant="textSM" class="2xl:text.base">
                  <Text tag="span">—</Text>
                  <Text tag="span">{item}</Text>
                </Text>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="flex mt-4 justify-center relative w-full">
        <Text
          tag="a"
          variant="textBase"
          href="#_"
          class="flex h-12 items-center font-medium justify-center w-full duration-500 ring-1 dark:bg-white dark:text-black bg-black ring-inset ring-black hover:ring-zinc-700 text-white dark:hover:ring-zinc-700 dark:hover:bg-white/10 dark:hover:text-white"
        >
          Get a glow!!
        </Text>
      </div>
      <Text tag="p" variant="textXS" class="text-black dark:text-white mt-4">
        Do you need or want to know more?
        <Text
          tag="a"
          href="#_"
          class="text-black dark:text-white duration-500 block"
        >
          — Book a 15 min call
          <span>»</span>
        </Text>
      </Text>
    </div>
    <div class="w-full mt-4 relative">
      <Text tag="a" href="#_" class="duration-500 block">
        <Text
          tag="span"
          class="text-base mt-8 tracking-tight text-black dark:text-white"
        >
          <Text tag="span" class="text-base text-black dark:text-white block">
            $399
            <Text tag="span" class="text-zinc-500 dark:text-zinc-400 text-xs"
              >USD + Local tax</Text
            >
          </Text>
          For each additional pages.
        </Text>
      </Text>
      <Text
        tag="p"
        variant="textXS"
        class="mt-2 text-zinc-500 dark:text-zinc-400"
      >
        Examples:
        <Text tag="span" class="italic">
          FAQs , pricing , features , logoclouds , testimonials , etc,..</Text
        >
      </Text>
    </div>
  </div>
</div>
