<!-- Bottom Right Plus -->
<div
  class="absolute -bottom-[0.65rem] -right-[0.67rem] size-5 flex items-center justify-center z-5"
>
  <div class="absolute w-full h-[1px] bg-zinc-300 dark:bg-zinc-300"></div>
  <div class="absolute h-full w-[1px] bg-zinc-300 dark:bg-zinc-300"></div>
</div>
