---
import BaseHead from "@/components/BaseHead.astro";
---

<html
  lang="en"
  class="scroll-smooth selection:bg-black selection:text-white dark:selection:bg-white dark:selection:text-black"
>
  <head>
    <BaseHead />
  </head>
  <body
    class="bg-[#f7f7f7] dark:bg-[#1a1c1f] flex flex-col min-h-screen mx-auto 2xl:max-w-7xl 2xl:border-x border-dashed border-zinc-300 dark:border-zinc-700 relative"
  >
    <main class="flex-grow"><slot /></main>
  </body>
</html>
