---
import Text from "../fundations/elements/Text.astro";
---

<footer class="border p-8 border-dashed border-zinc-300 dark:border-zinc-700">
  <Text tag="p" variant="textSM" class="text-zinc-500 dark:text-zinc-400">
    © 2024 Lexington Themes. All rights reserved.
  </Text>
  <Text
    tag="p"
    variant="textSM"
    class="text-zinc-500 dark:text-zinc-400 lg:col-span-2 mt-6"
  >
    <span class="font-bold text-black dark:text-white">Streamer</span> is not affiliated
    with Discord or Stripe , nor is it endorsed or sponsored by them. Designed and
    built by
    <Text
      tag="a"
      href="https://michaelandreuzza.com/"
      class="text-black dark:text-white hover:text-accent-300"
      >Michael Andreuzza</Text
    >. This website was crafted using Astro & Tailwind CSS. Crafted in Åland
    Islands, Finland.
  </Text>
</footer>
