---
import Text from "../fundations/elements/Text.astro";
---

<Text
  tag="a"
  variant="textSM"
  href="/"
  class="font-semibold uppercase t text-black dark:text-white lg:text-base"
>
  <svg
    class="h-[7.2rem] "
    viewBox="0 0 54 53"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M42.7045 0.597656H42.7047V0.597848L52.9411 10.8715L37.8995 25.8586L52.3737 37.661V52.9699H37.8706V25.8875L11.1253 52.5359L0.888597 42.2621L28.1486 15.1008H0.806641V0.597656H42.7045Z"
      fill="currentColor"></path>
  </svg>
  <div class="mt-1">Streamer.studio</div>
</Text>
